{% extends 'base.html' %}

<!--<p> Hello </p>-->
<!--<form action="" method="post">-->
<!--    {% csrf_token %}-->
<!--    {{form.as_p}}-->
<!--    <input type="submit" value="Submit">-->
<!--</form>-->



<!--from week 4 - working with templates lab exercise-->

<!-- Add code to extend base.html file -->

{% block content %}
<p> Book </p>
<p> This is a Booking page for Little Lemon </p>
{% endblock %}
<!-- Add code to load static content -->


<!-- Begin block content -->

<!-- End block content -->